
.movie {
    width: 100%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    background: #F2F2F2;
    border: 1px solid gray;
}
#range {
    margin-left: auto;
    margin-right: auto;
}
#time-range {
    border: 0; 
    color: #f6931f; 
    font-weight: bold;
}
#slider-range {
   /* width: 600px; */
}
#hidden {
    display: none;
}
.title {
    font-weight: bold;
    font-size: 1.25em;
}

.movie td {
   vertical-align:top;
   padding-left: 0.5em; 
}
.movie td img {
    float: right;
}

.movie h1 {
    text-align: center;
}

.label {
    display: inline-block;
}