body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: helvetica, arial;
    font-size: 14px;
}
.movie {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background: #F2F2F2;
    border: 1px solid gray;
}
#range {
    margin-left: auto;
    margin-right: auto;
}
#time-range {
    border: 0; 
    color: #f6931f; 
    font-weight: bold;
}
#slider-range {
    width: 600px;
}
#hidden {
    display: none;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
}
.time {
    margin-right: 1em;
    display: inline;
}
.theater {
    font-weight: bold;
    color: #0040FF;
}
td {
   vertical-align:top; 
}
td img {
    float: right;
}


h1 {
    text-align: center;
}